/* Reiniciar los márgenes, el relleno y el box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilizar enlaces */
a {
  text-decoration: none;
  /* Quitar subrayado */
}

html {
  font-size: 16px;
}
/* Spinner */
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showMoreText {
  color: #ff8c00 !important;
  font-weight: 500;
}
.showMoreTextCertificate {
  color: #ff8c00 !important;
}
p {
  margin-bottom: 0px !important;
  font-size: 1rem !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

h1 {
  font-size: 2.5rem !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

h2 {
  font-size: 2rem !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

h3 {
  font-size: 1.7rem !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

h4 {
  font-size: 1.5rem !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

h5 {
  font-size: 1rem !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.container-fluid {
  min-height: calc(100vh - 60px);
}

.error {
  min-height: calc(100vh - 65px);
}

.contain-error {
  min-height: calc(100vh - 65px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .showMoreText {
    width: 14% !important;
  }
}