.button {
    transition: transform 0.2s, opacity 0.2s;
}
.contain-contact-spinner{
    min-height: calc(100vh - 63px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain-form{
    min-height: calc(100vh - 63px);
    background-color: whitesmoke;
}
.agradecimiento{
    min-height: calc(80vh - 240px);
    display: flex;
    align-items: center;
}
.button.pressed {
    transform: scale(0.9);
    opacity: 0.7;
    border: none;
    font-size: 30px;
    background: none;
    color: white;
}
.error-alert {
    background-color: #ff0000b3;
    color: white; 
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.contain__iconContact{
    width: 50px;
    height: 50px;
    background: rgb(13, 13, 13);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.initialBtn {
    animation: subirBajar 1.6s infinite alternate;
    border: none;
    font-size: 30px;
    background: none;
    color: white;

}

.cotainButton {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn__Contact {
    border: none;
    color: white;
    font-size: 30px;
    background: none;
}

/* .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0; 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
} */
/* .form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #DAA520, #000, #DAA520);
    animation: moveLine 2s linear infinite;
}

@keyframes moveLine {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(200%);
    }
} */
.form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form::before,
.form::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #DAA520, #DAA520, #000, #000, #DAA520); /* Naranja tostado y negro */
    animation: moveLines 2s linear infinite;
}

.form::before {
    top: 0;
}

.form::after {
    bottom: 0;
}

@keyframes moveLines {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


form.form-control{
    background-color: #f0f0f0; /* Color de fondo para el formulario */
    border-radius: 10px; /* Bordes redondeados para suavizar la apariencia */
    padding: 20px; /* Espaciado interno para mejorar la apariencia */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar el formulario */
}
.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
@keyframes subirBajar {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@media screen and (max-width: 600px) {
    .contain-form h1{
        font-size: 2rem !important;
    }
    .contain-form h2{
        font-size: 1.5rem !important;
    }
}