.experiencia-logo{
    max-width: 100px;
    max-height: 100px;
    width: 100%;
}
.experiencia-card {
    background-color: #222325ad;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s; /* Agregar una transición suave para animar el cambio 
    min-height: calc(100vh - 68px);
    */ 
}
.icon__expirence__logo{
    font-size: 2rem !important;
}
.experiencia-container-loading{
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.experiencia-container{
    background-color: whitesmoke;
    min-height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.experiencia__texto{
    color: white;
}
@media screen and (max-width: 795px) {
    .experiencia-card-logo-container h3{
        font-size: 1.3rem !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}
@media screen and (max-width: 445px) {
    .experiencia-card-logo-container h3{
        font-size: 1rem !important;
    }
    .experiencia-card:hover {
        transform:  scale(1.1);
    }
    .experiencia__laboral__h2{
        font-size: 1.5rem !important;
    }
}