/* Logo de Experiencia */
.experience-logo {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
}

/* Tarjeta de Experiencia */
.experience-card {
    background: #323231cf;
    transition: transform 0.2s;
    min-height: 210px !important;
    height: 100%;
}

/* Icono de Experiencia */
.icon__experience__logo {
    font-size: 2rem !important;
}

/* Contenedor de Experiencia durante la carga */
.experiencia-container{
    min-height: calc(100vh - 55px);
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

/* Contenedor principal de Experiencia */
.experiencia {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Texto de Experiencia */
.experience__text {
    color: white;
}

/* Media queries para pantallas más pequeñas (max-width: 795px) */
@media screen and (max-width: 1048px) {
    .experience-card-logo-container h3 {
        font-size: 1.3rem !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 795px) {

    .experience__laboral__h2 {
        font-size: 1.5rem !important;
    }
    .icon__experience__logo {
        font-size: 1.3rem !important;
    }
}

/* Media queries para pantallas aún más pequeñas (max-width: 445px) */
@media screen and (max-width: 445px) {
    .experience-card-logo-container h3 {
        font-size: 1rem !important;
    }

    .experience-card:hover {
        box-shadow: 0px 4px 8px #9e9e9aeb;
    }

 
}
