.card-img-top-project {
    max-width: 100%;
    height: auto;
}

.card-type-badge-project {
    background-color:rgb(10 10 10 / 69%);
    color: white;
    border-radius: 0.25rem;
}

.main__projects {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

.main__projectsLogin {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__contenedor__h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.projects__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-title{
    color: white !important;
    font-weight: 700;
}
.modal-title{
     color: white !important;
    font-weight: 700;   
}
.card-project {
    flex: 0 0 calc(33.333% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    max-height: 370px;
    height: 100%;
    background: #323231cf;
}

.modal-backdrop {
    --bs-backdrop-bg: #a29797 !important;
    top: 80px !important;
    left: 50px !important;
    width: 82vw !important;
    height: 60vh !important;
}

.card__text__project {
    font-size: 0.6rem !important;
}

.card-img-top-modal {
    max-width: 200px;
    width: 100%;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.container-project {
    background-color: whitesmoke !important;
}

.modal-content {
    background-color: #777b81 !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-close {
    cursor: pointer;
    background-color: white !important;
    padding: 5px !important;
}

@media (max-width: 992px) {
    .card-project {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card-project {
        flex: 0 0 calc(70% - 20px);
    }
}