.scrollButton {
    position: fixed;
    width: 100%;
    left: 96%;
    bottom: 30px;
    height: 50px;
    font-size: 2.5rem;
    z-index: 1;
    cursor: pointer;
    color: #0c0c0cec;
    opacity: 0.4;
}

@media screen and (max-width: 765px) {
    .scrollButton {
        left: 88%!important;
    }
}
@media screen and (max-width: 550px) {
    .scrollButton {
        left: 83% !important;
    }
}