.scrollButton {
    position: fixed;
    width: 100%;
    left: 96%;
    bottom: 65px;
    height: 50px;
    font-size: 2.5rem;
    z-index: 1;
    cursor: pointer;
    color: #FF8C00 !important;
    opacity: 0.2;
}

@media screen and (max-width: 765px) {
    .scrollButton {
        left: 90%!important;
    }
}
@media screen and (max-width: 550px) {
    .scrollButton {
        left: 89% !important;
    }
}


  