#Experiencia{
    h6{
        color: #FFFF !important;
    }
    p{
        color: #FFFF !important;
    }
    .experiencia--tituloPrincipal{
        color: #FF8C00 !important;
    }
    .experience-logo{
        max-width: 70px;
        width: 100%;
    }
}